@page
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<style>
    body {
        margin-bottom: 0px;
        height: 100vh;
        padding: 0px;
    }

        body::-webkit-scrollbar {
            display: none;
        }

    .row {
        --bs-gutter-x: 0rem;
    }

    .container-fluid {
        height: 100%;
        margin: 0px;
        padding: 0px;
    }

        .container-fluid > .row {
            height: 100%;
            margin: 0px;
        }



    .left {
        padding: 0px;
        height: 100%;
    }

        .left .row {
            width: 100%;
        }

        .left * {
            padding: 0px;
        }


    .right {
        padding: 0px;
        height: 100%;
    }

        .right * {
            padding: 0px;
        }

    .conversation-page {
        display: none;
    }

    .contact-page {
        display: none;
    }

</style>


<div class="row">
    @* Conversation list  *@
    <div class="col-sm-3 left d-flex">
        <div class="row">
            <div class="col-sm-2">
                @Html.Partial("ApplicationNavbar.cshtml")
            </div>

            <div class="col-sm-10">
                <div class="conversation-page">
                    @Html.Partial("ConversationPage/ConservationList.cshtml")
                </div>
                <div class="contact-page">
                    @Html.Partial("ContactPage/ContactTypeList.cshtml")
                </div>
            </div>
        </div>

    </div>

    <div class="col-sm-9  right">
        <div class="conversation-page">
            @Html.Partial("ConversationPage/Conversation.cshtml")
        </div>
        <div class="contact-page">
            @Html.Partial("ContactPage/ContactList.cshtml")
        </div>
    </div>
</div>


@Html.Partial("Popups/UpdateInfoPopup.cshtml")


<script src="~/js/signalr.js"></script>




