@page
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/ChatRoom/Index.css"/>


<div class="row">
    @* Conversation list  *@
    <div class="col-md-3 left d-flex">
        <div class="navbar-section">
            @Html.Partial("ApplicationNavbar.cshtml")
        </div>
        <div class="conversation-list-section">
            <div class="conversation-page">
                @Html.Partial("ConversationPage/ConservationList.cshtml")
            </div>
            <div class="contact-page">
                @Html.Partial("ContactPage/ContactTypeList.cshtml")
            </div>
        </div>
    </div>

    <div class="col-md-9 right d-none d-md-block">
        <div class="conversation-page">
            @Html.Partial("ConversationPage/Conversation.cshtml")
        </div>
        <div class="contact-page">
            @Html.Partial("ContactPage/ContactList.cshtml")
        </div>
    </div>
</div>


@Html.Partial("Popups/InfoPopup.cshtml")
@Html.Partial("Popups/UpdateInfoPopup.cshtml")






